.lib-pointer {
    cursor: pointer;
    transition-duration: 200ms;
    transition-property: opacity;
}

.lib-pointer:hover {
    opacity: 0.5;
}

.lib-clip-upper-left {
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

