:root {
    --brand-green: #478468;
    --brand-green-light: #e5f0eb;
    --gray-dark: #4f4f4f;
    --gray-default: #828282;
    --gray-light: #d9d9d9;
    --gray-bright: #f2f2f2;
    --white-default: #ffffff;
    --expressive-red: #d41212;
}

:root {
    color: var(--brand-green);
    background-color: var(--brand-green-light);
}
