:root {
    --primary-green: #478468;
    --primary-green-light: #e5f0eb;
    --gray-dark: #4f4f4f;
    --gray-default: #828282;
    --gray-light: #f2f2f2;
    --white-default: #ffffff;
    --expressive-red: #d41212;
}

:root {
    color: var(--primary-green);
}
